* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.v-header {
  display: flex;
  align-items: center;
  color: rgba(255, 196, 0, 0.432);
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

img {
  height: 150px;
  width: 130px;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  min-height: 100px;

  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  z-index: 3;
}

.logo {
  background: rgba(255, 196, 0, 0.432);
  width: 150px;
  z-index: 3;
  top: 0;
  left: 0;
}

#links {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  font-size: 25px;
  z-index: 3;
}

a {
  text-decoration: none;
  color: rgba(255, 196, 0, 0.753);
}

#links > a:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #ffffff;
  -webkit-fill-color: #ffffff;
  text-shadow: 1px 0px 20px rgb(201, 201, 5);
  text-decoration: underline;
  transition: 0.75s;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  filter: grayscale(100%);
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

#videobg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(134, 133, 133);
  z-index: 1;
  opacity: 0.3;
  box-shadow: inset 0 0 50px 50px #0c0c0cc9;
}

#shop {
  z-index: 5;
  height: 180px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30vh;
}

.btn {
  background: rgba(255, 196, 0, 0.548);
  color: rgb(12, 12, 12);
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

@media (max-width: 960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
